Repository saltstack/pytest-skip-markers: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-pylint-spelling-words, check-copyright-headers

sort-pylint-spelling-words:
  name: Sort PyLint Spelling Words File
  entry: python .pre-commit-hooks/sort-pylint-spelling-words.py
  language: system

check-copyright-headers:
  name: Check python modules for appropriate copyright headers
  entry: python .pre-commit-hooks/copyright-headers.py
  language: system

Generate Changelog for version 1.1.0
  CHANGELOG.rst
  changelog/7.improvement.rst
  changelog/7.trivial.rst
  changelog/8.improvement.rst
Due: none

Allow installing on older minior versions of Py3.5.
  .pre-commit-config.yaml
  changelog/10.bugfix.rst
  setup.cfg
Due: none

Generate Changelog for version 1.1.1
  CHANGELOG.rst
  changelog/10.bugfix.rst
Due: none

Revert "Allow installing on older minior versions of Py3.5."
  .pre-commit-config.yaml
  setup.cfg
Due: none

Set lower required python to `3.5.2` and avoid issues with `flake8-typing-imports`.
  changelog/10.bugfix.rst
  setup.cfg
Due: none

Generate Changelog for version 1.1.2
  CHANGELOG.rst
  changelog/10.bugfix.rst
Due: none

Fixed issue with ``sdist`` recompression.
  changelog/12.bugfix.rst
  noxfile.py
Due: check-copyright-headers

Generate Changelog for version 1.1.3
  CHANGELOG.rst
  changelog/12.bugfix.rst
Due: none

Add ``pytest.mark.skip_on_photonos`` and ``pytest.mark.skip_unless_on_photonos`` markers
  changelog/13.feature.rst
  docs/ref/pytestskipmarkers/plugin.rst
  noxfile.py
  requirements/base.txt
  src/pytestskipmarkers/downgraded/plugin.py
  src/pytestskipmarkers/downgraded/utils/markers.py
  src/pytestskipmarkers/downgraded/utils/platform.py
  src/pytestskipmarkers/plugin.py
  src/pytestskipmarkers/utils/markers.py
  src/pytestskipmarkers/utils/platform.py
  tests/functional/test_skip_on_photonos.py
  tests/functional/test_skip_on_platforms.py
  tests/functional/test_skip_unless_on_photonos.py
  tests/unit/utils/test_platform.py
Due: check-copyright-headers

Added the ``pytest.mark.skip_on_env`` marker.
  .pylint-spelling-words
  changelog/14.feature.rst
  docs/ref/pytestskipmarkers/plugin.rst
  src/pytestskipmarkers/downgraded/plugin.py
  src/pytestskipmarkers/downgraded/utils/markers.py
  src/pytestskipmarkers/plugin.py
  src/pytestskipmarkers/utils/markers.py
  tests/functional/test_skip_on_env.py
  tests/unit/utils/markers/test_skip_on_env.py
Due: sort-pylint-spelling-words, check-copyright-headers

Generate Changelog for version 1.2.0
  CHANGELOG.rst
  changelog/13.feature.rst
  changelog/14.feature.rst
Due: none

Update the pre-commit hook versions
  .pre-commit-config.yaml
Due: none

Allow skipping test cases that need Internet access
  changelog/16.feature.rst
  src/pytestskipmarkers/downgraded/utils/markers.py
  src/pytestskipmarkers/utils/markers.py
  tests/unit/utils/markers/test_skip_if_no_remote_network.py
Due: check-copyright-headers

Correct CLI flags passed
  tests/functional/test_expensive_test.py
  tests/functional/test_skip_if_not_root.py
Due: check-copyright-headers

Test against Pytest 7.0.x and 7.1.x
  .github/workflows/testing.yml
Due: none

Don't allow ``pytest-subtests`` to upgrade pytest
  .pylint-spelling-words
  noxfile.py
Due: sort-pylint-spelling-words, check-copyright-headers

In windows under Py3.8 and Py3.9 there's some weird issues when we log.
  tests/functional/test_skip_if_binaries_missing.py
Due: check-copyright-headers

See if PyTest doesn't end up being upgraded
  noxfile.py
  requirements/tests.txt
Due: check-copyright-headers

Just skip them
  tests/functional/test_requires_network.py
  tests/functional/test_skip_if_not_root.py
  tests/functional/test_skip_on_aarch64.py
  tests/functional/test_skip_on_aix.py
  tests/functional/test_skip_on_darwin.py
  tests/functional/test_skip_on_env.py
  tests/functional/test_skip_on_freebsd.py
  tests/functional/test_skip_on_linux.py
  tests/functional/test_skip_on_netbsd.py
  tests/functional/test_skip_on_openbsd.py
  tests/functional/test_skip_on_photonos.py
  tests/functional/test_skip_on_platforms.py
  tests/functional/test_skip_on_smartos.py
  tests/functional/test_skip_on_spawning_platform.py
  tests/functional/test_skip_on_sunos.py
  tests/functional/test_skip_on_windows.py
  tests/functional/test_skip_unless_on_aarch64.py
  tests/functional/test_skip_unless_on_aix.py
  tests/functional/test_skip_unless_on_darwin.py
  tests/functional/test_skip_unless_on_freebsd.py
  tests/functional/test_skip_unless_on_linux.py
  tests/functional/test_skip_unless_on_netbsd.py
  tests/functional/test_skip_unless_on_openbsd.py
  tests/functional/test_skip_unless_on_photonos.py
  tests/functional/test_skip_unless_on_platforms.py
  tests/functional/test_skip_unless_on_smartos.py
  tests/functional/test_skip_unless_on_spawning_platform.py
  tests/functional/test_skip_unless_on_sunos.py
  tests/functional/test_skip_unless_on_windows.py
Due: check-copyright-headers

Lower expected code coverage on windows
  noxfile.py
Due: check-copyright-headers

Generate Changelog for version 1.3.0
  CHANGELOG.rst
  changelog/16.feature.rst
Due: none

Remove redundant wheel dep from pyproject.toml
  pyproject.toml
Due: none

Adding tarfile member sanitization to extractall()
  noxfile.py
Due: check-copyright-headers

Update pre-commit hook versions
  .pre-commit-config.yaml
  changelog/23.trivial.rst
Due: none

Don't cache the functions in `pytestskipmarkers.utils.platform`
  changelog/21.improvement.rst
  src/pytestskipmarkers/utils/platform.py
Due: check-copyright-headers

Path conditions:
  sort-pylint-spelling-words: any of: ^\.pylint-spelling-words$
  check-copyright-headers: any of: ^.*\.py$
